/output/seattlecomp1.txt
/output/seattlecomp2.txt
/output/seattlecomp3.txt
/output/seattlecomp4.txt
/output/seattlecomp5.txt
/output/seattlecomp6.txt
/output/seattlecomp7.txt
/output/seattlecomp8.txt
/output/seattlecomp9.txt
/output/seattlecomp10.txt
/output/seattlecomp11.txt
/output/seattlecomp12.txt
/output/seattlecomp13.txt
/output/seattlecomp14.txt
/output/seattlecomp15.txt
/output/seattlecomp16.txt
*.pyc
/output/seattle_cut.txt
/output/seattle_cut1.txt
